.container {
  height: 50px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* svg {
  fill: var(--primary-color);
} */

.icon {
  opacity: 0.6;
  cursor: pointer;
	/* color: white; */
	fill: inherit;
}

.icon_black {
  opacity: 0.6;
  cursor: pointer;
	color: #bbb;
}
